body {
    background-image: linear-gradient(orange, crimson);
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
  }
  
  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-image: linear-gradient(rgb(255, 136, 0),rgb(255, 92, 92));
    border-radius: 3px;
    border:2px solid black;
  }
  
  .login-box {
    width: 360px;
    height: 300px;
    margin: auto;
    border-radius: 3px;
   background-image: linear-gradient(rgb(255, 136, 0),rgb(255, 92, 92));
   border:2px solid black;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  input[type="button"]:hover {background-color: #3e8e41}

  input[type="button"]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }
  
  